<div class="pageDiv" id="pageDiv" th:fragment="html">
	<nav>
	  <ul class="pagination">
	    <li :class="{ disabled: pagination.first }">
	      <a  href="#nowhere" @click="jump('first')">«</a>
	    </li>
	    <li :class="{ disabled: !pagination.hasPrevious }">
	      <a  href="#nowhere" @click="jump('pre')">‹</a>
	    </li>		    

		<li  v-for="i in pagination.navigatepageNums">
			<a href="#nowhere" @click="jumpByNumber(i)" >
				{{i}}
			</a>
		</li>

	    <li :class="{ disabled: !pagination.hasNext }">
	      <a  href="#nowhere" @click="jump('next')">›</a>
	    </li>
	    <li :class="{ disabled: pagination.last }">
	      <a  href="#nowhere" @click="jump('last')">»</a>
	    </li>	
	    <div class="input-group step-group">
			<input v-model:value="stepNum" type="number" id="stepInput" class="form-control" placeholder="页码">
			<button class="btn btn-default" @click="jumpByNumber(stepNum)"  style="margin-left:5px ;" type="button">Go</button>
		</div>   
	  </ul>
	</nav>    
</div>
