<div class="pageDiv" id="pageDiv" th:fragment="html">
	<div v-if="pagination.totalPages<=0">
		好像没有东西哦~~~
	</div>
	<nav v-else>
	  <ul class="pagination">
	    <li :class="{ disabled: pagination.first }">
	      <a  href="#nowhere" @click="jump('first')">«首页</a>
	    </li>
	    <li :class="{ disabled: !pagination.hasPrevious }">
	      <a  href="#nowhere" @click="jump('pre')">‹上一页</a>
	    </li>		    

		<li  >
			<a href="#nowhere" @click="jumpByNumber(pagination.number)" >
				{{pagination.number+1}}
			</a>
		</li>

	    <li :class="{ disabled: !pagination.hasNext }">
	      <a  href="#nowhere" @click="jump('next')">下一页›</a>
	    </li>
	    <li :class="{ disabled: pagination.last }">
	      <a  href="#nowhere" @click="jump('last')">末页»</a>
	    </li>
	    <div class="input-group step-group">
			<input v-model:value="stepNum" type="number" id="stepInput" class="form-control" placeholder="页码">
			<button class="btn btn-default" @click="jumpByNumber(stepNum-1)"  style="margin-left:5px ;" type="button">Go</button>
		</div>   
	  </ul>
	</nav>
	    
</div>
