/* listCategory */
#workarea {
	margin: 40px;
}

#workarea thead td {
	font-weight: bold;
}

#title {
	margin: 0 0 20px 0;
}

/* adminNavigator */
#tmallIcon {
	float: left;
	height: 45px;
	margin-right: 15px;
}

.navbar-brand {
	margin: 0 15px;
	cursor: pointer;
}

/* adminPage */
#pageDiv {
	text-align: center;
}

#stepInput {
	width: 50px;
}

.step-group {
	margin: 0 auto;
}


/*--------------------------------  */
/* addModal */
.addTable{
	border-collapse:separate; 
	border-spacing:0px 10px;
}
.addCateBt{
	float:right;
	margin-right: 15px;
}
.addPropertyBt{
	float:right;
	margin-right: 15px;
}

/*--------------------------------  */