<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('产品管理')"></head>
<body>
	<div th:replace="include/admin/adminNavigator::html"></div>
	<script>
			$(function() {
				var cid = getUrlParms("cid");
				var data4vue = {
					uri: 'products',
					beans: [],
					pagination: {},
					stepNum: 1,
					bean: {	
						id: 0,
						name: null,
						subTitle:null,
						originalPrice:0,
						promotePrice:0,
						stock:0,
						createDate:null,
						category:{
							id:0,
							name:null
						}
					},
					type: "添加产品",
					category:{
						id:0,
						name:null
					}
				};
				var vm = new Vue({
					el: '#workarea',
					data: data4vue,
					mounted: function() {
						//alert("???");
						this.getCategory();
						this.list(0);
					},
					methods: {
						getCategory:function(){
							var url = "categories/"+cid;
							axios.get(url).then(function(response){
								vm.category = response.data;
							});
						},
						get:function(id){
							var url =  "products/"+id;
							axios.get(url).then(function(response){
								vm.bean = response.data;
							});
						},
						list: function(start) {
							//alert("list");
							var url =  "categories/"+cid+"/"+this.uri+"?start="+start;
							axios.get(url).then(function(response) {
								//alert(response);
								vm.beans = response.data.content;
								vm.pagination = response.data;
							});
						},
						jump: function(page) {
							jump(page, vm); //定义在adminHeader.html 中
						},
						jumpByNumber: function(start) {
							jumpByNumber(start, vm);
						},
						add: function() {
							if (!checkEmpty(this.bean.name, "产品名称"))
								return;
							if (!checkEmpty(this.bean.subTitle, "产品小标题"))
								return;
							if (!checkEmpty(this.bean.originalPrice, "原价"))
								return;
							if (!checkEmpty(this.bean.promotePrice, "促销价"))
								return;
							var url = this.uri;
							this.category.id = cid;
							this.bean.category = this.category;
							axios.post(url, this.bean).then(function(response) {
								vm.list(0);
								vm.resetModal();
							});
							return true;
						},
						delete_: function(id) { //delete是关键字
							if (!checkDeleteLink()) //校验放入公共代码区
								return;
							var url = this.uri+"/"+id;
							axios.delete(url).then(function(response) {
								if (0 != response.data.length) {
									alert(response.data);//有提示信息则显示
								} else {
									vm.list(0);
								}
							});
						},
						edit: function(id) {
							if (!checkEmpty(this.bean.name, "产品名称"))
								return;
							if (!checkEmpty(this.bean.subTitle, "产品小标题"))
								return;
							if (!checkEmpty(this.bean.originalPrice, "原价"))
								return;
							if (!checkEmpty(this.bean.promotePrice, "促销价"))
								return;
							var url = this.uri + "/" + id;

							this.category.id = cid;
							this.bean.category = this.category;
							axios.put(url, this.bean).then(function(response) {
								vm.list(0);
								vm.resetModal();
							});
							return true;
						},
						editModal: function(id) {
							this.get(id);
							vm.type = "编辑产品";
							vm.toggleModal();
						},
						toggleModal: function() {
							$("#addProductModal").modal('toggle');
						},
						submit: function(id) {
							if (id == 0) {
								if (vm.add()) {
									vm.toggleModal();
									alert("提交成功！");
								} else {
									alert("提交失败")
								}
							} else {
								if (vm.edit(id)) {
									vm.toggleModal();
									alert("提交成功！");
								} else {
									alert("提交失败")
								}
							}
						},
						resetModal: function() {
							vm.type = "添加产品";
							vm.bean =  {	
								id: 0,
								name: null,
								subTitle:null,
								originalPrice:0,
								promotePrice:0,
								stock:0,
								createDate:null,
								category:{
									id:0,
									name:null
								}
							};
						}
					}
				});
			});
		</script>
	<div id="workarea">
		<br /> <br />
		<ol class="breadcrumb">
			<li><a href="admin_category_list">所有分类</a></li>
			<li><a :href="'admin_property_list?cid='+category.id">{{category.name}}</a></li>
			<li class="active">产品管理</li>
		</ol>
		<button type="button" class="btn btn-primary addProductBt"
			@click="toggleModal()">添加产品</button>
		<br /> <br />
		<table class="table table-hover table-striped table-bordered  table-condensed">
			<thead>
				<tr class="success">
					<th>ID</th>
					<!-- <th>产品图片</th> -->
					<th>产品名称</th>
					<th>产品小标题</th>
					<th>原价</th>
					<th>促销价</th>
					<th>库存数量</th>
					<th>图片管理</th>
					<th>属性管理</th>
					<th>编辑</th>
					<th>删除</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="bean in beans" >
					<td>{{bean.id}}</td>
					<!-- <td><img :src="'img/productBrief/'+pi.id+'.jpg'"></img></td> -->
					<td>{{bean.name}}</td>
					<td>{{bean.subTitle}}</td>
					<td>{{bean.originalPrice}}</td>
					<td>{{bean.promotePrice}}</td>
					<td>{{bean.stock}}</td>
					<td><a :href="'admin_productImage_list?pid=' + bean.id " ><span class="glyphicon glyphicon-picture"></span> </a>
					</td>
					<td><a :href="'admin_propertyValue_list?pid=' + bean.id " ><span class="glyphicon glyphicon-th-list"></span> </a>
					</td>
					<td><a><span @click="editModal(bean.id)"
							class="glyphicon glyphicon-edit"></span> </a></td>
					<td><a><span @click="delete_(bean.id)"
							class="glyphicon glyphicon-trash"></span> </a></td>
				</tr>
			</tbody>
		</table>

		<div class="modal fade" id="addProductModal" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button data-dismiss="modal" class="close" type="button">
							<span aria-hidden="true">×</span><span class="sr-only">Close</span>
						</button>
						<h4 class="modal-title">{{type}}</h4>
					</div>
					<div class="modal-body">
						<table class="addTable ">
							<tr	>
								<td>产品名称</td>
								<td><input @keyup.enter="submit(bean.id)"
									v-model.trim="bean.name" type="text" class="form-control"></td>
							</tr>
							<tr	>
								<td>产品小标题</td>
								<td><input @keyup.enter="submit(bean.id)"
									v-model.trim="bean.subTitle" type="text" class="form-control"></td>
							</tr>
							<tr	>
								<td>原价</td>
								<td><input @keyup.enter="submit(bean.id)"
									v-model.trim="bean.originalPrice" type="number" class="form-control"></td>
							</tr>
							<tr	>
								<td>促销价</td>
								<td><input @keyup.enter="submit(bean.id)"
									v-model.trim="bean.promotePrice" type="number" class="form-control"></td>
							</tr>
							<tr	>
								<td>库存</td>
								<td><input @keyup.enter="submit(bean.id)"
									v-model.trim="bean.stock" type="text" class="form-control"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="modal-footer">
					<button data-dismiss="modal" class="btn btn-default" type="button">关闭</button>
					<button class="btn btn-primary" @click="submit(bean.id)"
						type="button">提交</button>
				</div>
			</div>
		</div>

		<div th:replace="include/admin/adminPage::html"></div>
	</div>
</body>
</html>
