<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('分类管理')"></head>
<body>
	<div th:replace="include/admin/adminNavigator::html"></div>
	<script>
		$(function() {
			var data4vue = {
				uri:'categories',
				beans:[],
				pagination:{},
				stepNum:1
			};
			var vm = new Vue({
				el : '#workarea',
				data : data4vue,
				mounted : function() {
					this.list(0);
				},
				methods : {
					list:function(start){
						var url = this.uri+"?start="+(start);
						axios.get(url).then(function(response) {
							vm.beans = response.data.content;
							vm.pagination = response.data;
							//alert(vm.beans[0].name);
						});
					},
					jump: function(page){
	                    jump(page,vm); //定义在adminHeader.html 中
	                },
	                jumpByNumber: function(start){
	                    jumpByNumber(start,vm);
	                },
				}
			});
		});
	</script>
	<div id="workarea">
		<br /> <br />
		<div class="label label-info">分类管理</div>
		<br /> <br />
		<table class="table table-hover table-bordered">
			<thead>
				<tr class="success">
					<td>ID</td>
					<td>缩略图</td>
					<td>分类名称</td>
					<td>属性管理</td>
					<td>产品管理</td>
					<td>编辑</td>
					<td>删除</td>
				</tr>
			</thead>
			<tbody>
				<tr v-for="bean in beans" class="active">
					<td>{{bean.id}}</td>
					<td><img height="40px" :src="'img/category/'+bean.id+'.jpg'" />
					</td>
					<td>{{bean.name}}</td>
					<td><a><span class="glyphicon glyphicon-th-list"></span> </a>
					</td>
					<td><a><span class="glyphicon glyphicon-shopping-cart"></span>
					</a></td>
					<td><a><span class="glyphicon glyphicon-edit"></span> </a></td>
					<td><a><span class="glyphicon glyphicon-trash"></span> </a></td>
				</tr>
			</tbody>
		</table>
		
	<div th:replace="include/admin/adminPage::html"></div>
	</div>
</body>
</html>
