body {
	font-size: 12px;
	font-family: Arial;
	min-width: 1024px;
	/* 	width:1920px; */
}
/****************************/
/* top.html */
.home-top {
	width: 100%;
	height: 35px;
	background-color: #f2f2f2;
}

.home-top-middle {
	width: 100%;
	height: 18px;
	position: absolute;
	margin-top: 6px;
}

.home-top-middle a:hover {
	color: #C40000;
	text-decoration: none;
}

.top-content-left {
	float: left;
	margin-left: 15%;
}

.top-content-left a, .top-content-left span {
	margin: 0px 10px;
	color: #999;
	font-size: 12px;
}

.top-content-right {
	float: right;
	margin-right: 15%;
}

.top-content-right a, .top-content-left span {
	margin: 0px 10px;
	color: #999;
	font-size: 12px;
}

/****************************/
/* search.html */
.searchBtn {
	margin-left: -4px;
	background-color: #C40000;
	color: white;
	font-size: 20px;
	font-weight: bold;
	width: 110px;
	width: 20%;
	height: 100%;
	border: transparent;
}

.searchInput {
	width: 80%;
	height: 85%;
	border: transparent;
	outline: none;
	font-size: 16px;
}

.searchGroup {
	border: solid 2px #C40000;
	width: 350px;
	height: 40px;
}

.searchForm {
	float: left;
	margin-top: 50px;
	margin-left: 100px;
}

.search-content {
	height: 140px;
	width: 80%;
	margin: 0 auto;
}

.searchBlow {
	margin-top: 5px;
}
/* .searchBlow a:hover {
	color: #C40000;
	text-decoration: none;
} */
.searchBlow span {
	margin: 0 7px;
	color: #999;
}

.searchDiv {
	
}
/************************/
/* footer.html */
.footer-img {
	width: 100%;
}

/************************/
/* homePage.html-----homePageCategoryAll.html */
div.carouselBackgroundDiv {
	width: 100%;
	height: 530px;
	background-color: #E8E8E8;
	position: absolute;
	top: 36px;
	z-index: -1;
}

div.categoryWithCarousel div.rightMenu {
	display: inline-block;
}

div.categoryWithCarousel div.headbar {
	background-color: #DD2727;
}

div.categoryWithCarousel {
	width: 100%;
	position: relative;
}

div.categoryWithCarousel div.productsAsideCategorys {
	width: 825px;
	height: 510px;
	background-color: white;
	/* 	padding-bottom:10px; */
	margin-left: 220px;
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

div.categoryWithCarousel div.eachCategory:hover {
	background-color: white;
}

div.categoryWithCarousel div.eachCategory span {
	margin-right: 10px;
}

div.categoryWithCarousel div.eachCategory {
	/* 	height:30px; */
	line-height: 30px;
	padding-left: 10px;
	/* 	border:1px dashed lightgray; */
	font-size: 14px;
	/* 	background-image:url(../../img/site/eachcategory.png); */
	/* 	background-repeat: no-repeat; */
	width: 200px;
}

div.categoryWithCarousel div.rightMenu {
	display: inline-block;
}

div.categoryWithCarousel div.rightMenu img {
	height: 30px;
}

div.categoryWithCarousel div.rightMenu span {
	margin: 0px 20px 0px 20px;
}

div.categoryWithCarousel div.rightMenu a {
	font-size: 16px;
	color: white;
}

div.rightMenu a:hover {
	text-decoration: none;
}

div.categoryWithCarousel div.head {
	width: 200px;
	background-color: #C60A0A;
	height: 36px;
	line-height: 36px;
	font-size: 16px;
	font-weight: bold;
	color: white;
	margin-left: 20px;
	display: inline-block;
	margin-left: 20%;
}

div.productsAsideCategorys a {
	color: #999;
	font-size: 14px;
	margin: 8px;
}

div.productsAsideCategorys a:hover {
	color: #C40000;
	text-decoration: none;
}

div.productsAsideCategorys div.row {
	margin: 20px 80px 0px 80px;
}

div.productsAsideCategorys div.row div.seperator {
	margin-top: 20px;
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	border-bottom-color: #e7e7e7;
}

div.categoryMenu a {
	color: #000;
}

div.categoryMenu a:hover {
	color: lightskyblue;
	text-decoration: none;
}

div.searchBelow span {
	color: #999;
}

div.homepageDiv {
	position: relative;
}

img.catear {
	position: absolute;
	height: 15px;
	display: none;
}

.carousel-of-product {
	margin-left: 15%;
}

/* homePage.html-----homePageCategoryList.html */
.category-list-content {
	margin-right: 15%;
	margin-left: 15%;
	background-color: #F5F5F5;
}

.category-list-content-row {
	height: 350px;
	width: 95%;
	/* border: solid 1px black; */
	margin: 0 auto;
	margin-top: 30px;
}

.category-list-eachCategory {
	margin-top: 5px;
}

.product-of-categoty-list {
	width: 189px;
	height: 245px;
	background-color: white;
	margin: 5px;
	float: left;
	cursor: pointer;
	border: 1px solid white;
}

.product-of-categoty-list:hover {
	border: solid red 1px;
}

.eachCategory-title span {
	font-size: 16px;
	margin-left: 30px;
	color: #646464;
	font-weight: bold;
}

.left-mask {
	display: inline-block;
	height: 20px;
	vertical-align: top;
	width: 5px;
	background-color: #19C8A9;
	margin-right: 15px;
}

span.productItemDesc {
	font-size: 12px;
	color: #666666;
	display: block;
	padding: 16px;
}
/************************/
/* 
registPage */
.registErrorDiv {
	width: 800px;
	margin: 0px auto;
	height: 50px;
	text-align: center;
	visibility: hidden;
	padding-bottom: 50px;
}

.registTable {
	width: 500px;
	margin: 0 auto;
	margin-top: 100px;
	margin-bottom: 50px;
}

.registTable td {
	padding: 10px 30px;
}

.registerTip {
	font-weight: bold;
}

.registerTableLeftTD {
	width: 200px;
	text-align: left;
}

.registerButtonTD {
	text-align: center;
	font-size: 12px;
}

.registerButtonTD button {
	width: 170px;
	height: 36px;
	border-radius: 2px;
	color: white;
	background-color: #C40000;
}

F /**********************/
	/* loginPage */      





div.loginDivInProductPageModalDiv {
	width: 350px;
}

div.deleteConfirmModalDiv {
	width: 350px;
}

div.loginDivInProductPage {
	background-color: white;
	width: 350px;
	height: 400px;
	padding: 60px 25px 80px 25px;
}

div.loginSmallDiv {
	background-color: white;
	position: absolute;
	right: 180px;
	top: 180px;
	width: 350px;
	height: 400px;
	padding: 60px 25px 80px 25px;
}

div.loginErrorMessageDiv {
	width: 300px;
	position: absolute;
	top: 20px;
	visibility: hidden;
}

div.loginErrorMessageDiv div.alert {
	padding: 5px !important;
}

div.login_acount_text {
	color: #3C3C3C;
	font-size: 16px;
	font-weight: bold;
}

div.loginInput {
	border: 1px solid #CBCBCB;
	margin: 20px 0px;
}

div.loginInput input {
	display: inline-block;
	border: 0px solid transparent;
	width: 244px;
	height: 30px;
	position: relative;
	left: 6px;
	top: 6px;
}

div.loginInput span, div.loginInput input {
	display: inline-block;
}

div.loginInput span.loginInputIcon {
	margin: 0px;
	background-color: #CBCBCB;
	width: 40px;
	height: 40px;
}

span.loginInputIcon span.glyphicon {
	font-size: 22px;
	position: relative;
	left: 9px;
	top: 9px;
	color: #606060;
}

button.redButton {
	color: white;
	background-color: #C40000;
	font-size: 14px;
	font-weight: bold;
}

img.loginBackgroundImg {
	display: block;
	margin: 0px auto;
}
/*************************/

/* pageAndInfo */
.imgAndInfo {
	width: 1000px;
	height: 500px;
	margin: 0 auto;
}

.imgAndInfo .leftProductImgDiv {
	width: 400px;
	height: 500px;
	float: left;
}

.imgAndInfo .bigImg {
	width: 400px;
	height: 400px;
	padding: 20px;
}

.imgAndInfo .briefImageDiv {
	height: 60px;
	width: 340px;
	margin: 20px auto;
}

.imgAndInfo .smallImage {
	height: 62px;
	width: 62px;
	margin: 0 3px;
	border: solid 2px white
}

.imgAndInfo .rightDetailDiv {
	width: 530px;
	height: 500px;
	float: left;
	margin-left: 30px;
}

.imgAndInfo .promoteActivityDiv img {
	width: 530px;
	height: 40px;
}

.imgAndInfo .productTitle {
	color: black;
	font-size: 16px;
	font-weight: bold;
	margin: 0px 10px;
}

.imgAndInfo .productSubTitle {
	color: #DD2727;
	font-size: 12px;
	/* 	font-weight:bold; */
	margin: 0px 10px;
}

.imgAndInfo .gouwujuanDiv {
	margin-top: 5px;
}

.imgAndInfo .originalDiv {
	margin-top: 5px;
}

.imgAndInfo .promotionDiv {
	margin-top: 0px;
}

.imgAndInfo .productPriceDiv {
	/* background-image: url(img/site/priceBackground.png); */
	height: 102px;
	padding: 10px;
	color: #666666;
}

.imgAndInfo .originalPriceDesc {
	color: #999999;
	display: inline-block;
	width: 68px;
}

.imgAndInfo .promotionPriceDesc {
	color: #999999;
	display: inline-block;
	width: 68px;
	position: relative;
	left: 0px;
	top: -10px;
}

.imgAndInfo .originalPriceYuan {
	font-family: Arial;
	font-size: 12px;
}

.imgAndInfo .originalPrice {
	font-family: Arial;
	font-size: 12px;
	color: #333333;
	text-decoration: line-through;
}

.imgAndInfo .promotionPriceYuan {
	font-family: Arial;
	font-size: 18px;
	color: #C40000;
	/*     vertical-align: top; */
}

.imgAndInfo .promotionPrice {
	color: #c40000;
	font-family: Arial;
	font-size: 30px;
	font-weight: bold;
	/*     vertical-align: top; */
	/*     vertical-align: middle; */
}

.imgAndInfo .productSaleAndReviewNumberDiv {
	margin: 20px 0px;
	border-top-style: dotted;
	border-top-color: #C9C9C9;
	border-top-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #C9C9C9;
	border-bottom-width: 1px;
	padding: 10px;
}

.imgAndInfo .productSaleAndReviewNumberDiv div {
	display: inline-block;
	width: 49%;
	text-align: center;
	color: #999999;
	font-size: 12px;
}

.redColor {
	color: #C40000;
}

.boldWord {
	font-weight: bold;
}

.imgAndInfo .productNumber {
	color: #999999;
}

.imgAndInfo .productNumberSettingSpan {
	border: 1px solid #999;
	display: inline-block;
	width: 43px;
	height: 32px;
	/* padding: 7px 0; */
}

.imgAndInfo .productNumberSetting {
	border: 0px;
	height: 99%;
	width: 99%;
}

.productNumber .glyphicon {
	font-size: 6px;
}

.productNumber .arrow {
	display: inline-block;
	width: 22px;
	height: 32px;
	vertical-align: top;
}

.productNumber .updown img {
	display: inline-block;
	vertical-align: top;
}

.productNumber .updown {
	border: 1px solid #999;
	display: block;
	width: 20px;
	height: 14px;
	text-align: center;
	padding-top: 4px;
}

.productNumber .updownMiddle {
	height: 4px;
	display: block;
}

.imgAndInfo .serviceCommitment {
	margin: 20px 0px;
}

.imgAndInfo .serviceCommitmentDesc {
	color: #999999;
}

.imgAndInfo .serviceCommitmentLink a {
	color: #666666;
}

.addCartButton {
	border: 1px solid #C40000;
	background-color: #C40000;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	/* 	font-weight:700; */
	color: white;
	font-family: arial;
}

.addCartButton .glyphicon {
	font-size: 12px;
	margin-right: 8px;
}

.buyDiv button {
	display: inline-block;
	margin: 0px 10px;
	width: 180px;
	height: 40px;
}

.buyButton {
	border: 1px solid #C40000;
	background-color: #FFEDED;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	/* 	font-weight:700; */
	color: #C40000;
	font-family: arial;
}

.categoryPictureInProductPageDiv {
	width: 100%;
	margin: 20px auto;
	text-align: center;
}

/***************************/
/* productReview */
.productDetailDiv {
	width: 790px;
	margin: 40px auto;
}

.productReviewItemDate {
	margin: 15px 0px 0px 0px;
	color: #CCCCCC;
}

.userInfoGrayPart {
	color: #999999;
}

.productReviewItem {
	border-bottom: 1px solid #E3E3E3;
	margin: 10px 0px;
}

.productReviewItem .productReviewItemDesc {
	width: 80%;
	display: inline-block;
	color: #333333;
	height: 94px;
	margin: 5px 20px;
	float: left;
}

.productReviewItem .productReviewItemUserInfo {
	color: #404040;
	margin: 5px 20px;
	overflow: hidden;
	padding: 20px 0;
}

.productReviewOrDetailDiv {
	border: solid 1px lightgray;
	text-align: center;
	width: 90px;
	height: 100%;
	padding-top: 10px;
	float: left;
}

.productReviewTopPart {
	border: solid lightgray 1px;
	height: 46px;
}

.productReviewDivInReview {
	border: solid 1px #b00000;
	color: #b10000;
	font-weight: bold;
}

.productDetailDivInDetail {
	border: solid 1px #b00000;
	color: #b10000;
	font-weight: bold;
}
/******************************/
/* productDetailDIv*/
.productReviewDiv {
	width: 790px;
	margin: 40px auto;
	/* 	display:none; */
}

.productDetailTopPart {
	border: solid lightgray 1px;
	height: 46px;
}

.productParamterPart {
	border: 1px solid #DFDFDF;
	padding: 40px;
}

.productParamter {
	color: #999999;
	font-weight: bold;
	margin-bottom: 20px;
}

.productParamterList span {
	display: block;
	width: 220px;
	float: left;
	padding: 8px 0px;
	color: #666666;
}