<div th:fragment="html">
    <div id="loginDiv" style="position: relative">
        <div class="simpleLogo" style="margin: 32px 0;">
            <a><img src="img/site/simpleLogo.png"></a>
        </div>
        <img id="loginBackgroundImg" class="loginBackgroundImg" src="img/site/loginBackground.png">
        <div id="loginSmallDiv" class="loginSmallDiv">
            <div class="loginErrorMessageDiv">
                <div class="alert alert-danger" >
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"></button>
                    <span class="errorMessage">22</span>
                </div>
            </div>
 
            <div class="login_acount_text">账户登录</div>
            <div class="loginInput " >
                    <span class="loginInputIcon ">
                        <span class=" glyphicon glyphicon-user"></span>
                    </span>
                <input v-model="user.name" placeholder="手机/会员名/邮箱" type="text">
            </div>
 
            <div class="loginInput " >
                    <span class="loginInputIcon ">
                        <span class=" glyphicon glyphicon-lock"></span>
                    </span>
                <input v-model="user.password" type="password" placeholder="密码">
            </div>
            <span class="text-danger"></span><br><br>
            <div>
                <a class="notImplementLink" href="#nowhere">忘记密码</a>
                <a href="regist" class="pull-right">免费注册</a>
            </div>
            <div style="margin-top:20px">
                <button class="btn btn-block redButton" type="button" @click="login()">登录</button>
            </div>
        </div>
    </div>
</div>