<div th:fragment="html">
	<div id="homeTop" class="home-top">
		<div class="home-top-middle">
			<div class="top-content-left">
				<a>
					<div style="display: inline;">
						<span style="color: #C40000; margin: 0px;"
							class=" glyphicon glyphicon-home"></span> 天猫首页
					</div>
				</a> <span>瞄，欢迎来到天猫</span> <a>请登录</a> <a>免费注册</a>
			</div>

			<div class="top-content-right">
				<a>我的订单</a> <a>
					<div style="display: inline;">
						<span style="color: #C40000; margin: 0px;"
							class=" glyphicon glyphicon-shopping-cart"></span> 购物车0件
					</div>
				</a>
			</div>
		</div>
	</div>
</div>