<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="include/fore/header::html('评价页')" ></head>
    <script>
        $(function(){
            var oid = getUrlParms("oid");
            var data4Vue = {
                    uri:'forereview',
                    orders:[],
                    p:'',
                    o:null,
                    reviews:[],
                    showReviews:false,
                    content:'',
                    user:{
                    	id:0,
                    	name:''
                    },
                	hotWords:null,
            };
            //ViewModel
            var vm = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){ //mounted　表示这个 Vue 对象加载成功了
                    this.init();
                },       
                methods: {     
                    init:function(){
                    	var userDiv = $("#userDiv");
    					if(userDiv){
    						//从session中加载用户信息
    						this.user.name = $("#userDiv").attr("name");
    						this.user.id = $("#userDiv").attr("uid");	
    					}
    					var uri = "hotWords/0";
						axios.get(uri).then(function(response){
							var res = response.data;
							vm.hotWords = res.data.hotWords;
						});
                    	
                        var url =  this.uri+"?oid="+oid;
                        axios.get(url).then(function(response) {
                            var res = response.data;
                            vm.p = res.data.product;
                            vm.o = res.data.order;
                            vm.reviews = res.data.reviews;
                            
                            if(vm.o.status=="finish"){
                                vm.showReviews=true;
                            }else{
                                vm.showReviews=false;
                            }
                        });
                    },
                    doreview:function(){
                        var url =  "foredoreview?oid="+vm.o.id+"&pid="+vm.p.id+"&content="+vm.content;
                        axios.post(url).then(function(response) {
                        	var res = response.data;
                            vm.showReviews = true;
                            vm.init();
                        });
                    }
                }
            });                
        }) 
    </script>
    <body>
        <div id="workingArea">
            <div th:replace="include/fore/top::html" ></div>   
            <div th:replace="include/fore/simpleSearch::html" ></div>  
            <div th:replace="include/fore/cart/reviewPage::html" ></div>   
            <div th:replace="include/fore/footer::html" ></div>
        </div>
    </body>
</html>