<div th:fragment="html">
	<div v-for="review in reviews" class="productReviewDiv"
		v-show="showReview">
		<div class="productReviewTopPart">
			<div class="productReviewOrDetailDiv productDetailDivInReview"
				@click="toggle2Detail">商品详情</div>
			<div class="productReviewOrDetailDiv productReviewDivInReview">
				累计评价&nbsp;<span class="productReviewTopReviewLinkNumber"
					style="color: #3355B9;">{{product.reviewCount}}</span>
			</div>
		</div>

		<div class="productReviewItem">

			<div class="productReviewItemDesc">
				<div class="productReviewItemContent">{{review.content }}</div>
				<div class="productReviewItemDate">{{review.createDate}}</div>
			</div>
			<div class="productReviewItemUserInfo">

				{{review.user.anonymousName}}<span class="userInfoGrayPart">（匿名）</span>
			</div>

			<div style="clear: both"></div>

		</div>
	</div>
	<div class="productReviewDiv" v-if="reviews.length==0" v-show="showReview">
		<div class="productReviewTopPart">
			<div class="productReviewOrDetailDiv productDetailDivInReview"
				@click="toggle2Detail">商品详情</div>
			<div class="productReviewOrDetailDiv productReviewDivInReview">
				累计评价&nbsp;<span class="productReviewTopReviewLinkNumber"
					style="color: #3355B9;">{{product.reviewCount}}</span>
			</div>
		</div>
		
	</div>
	
</div>